@font-face {
  font-family: 'caladea';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./Caladea-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'caladea';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./Caladea-Bold.woff2) format('woff2');
}
